.App {
  width: 98%;
  margin: auto;
}
.links{

list-style-type: none;
display: flex;
border: 2px solid black;
padding: 8px;;
background-color: blueviolet;
margin-bottom: 0%;
border-radius: 5px;
font-size: 16px;

font-size: calc(15px + 0.390625vw);
} 
.links li{
margin: 10px;


}
.links li a{
text-decoration: none;
color: chartreuse;
font-weight: bold;
  }
  .login{
    margin-left: 0px;
  }


